* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font:
    16px/145% "Pretendard",
    system-ui,
    sans-serif;
  color-scheme: light;
}

body {
  min-height: 100svh;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
